#s1v1 {
  top: 10%; }

#s1v2 {
  top: 30%;
  right: 0; }

#s1v3 {
  top: 34%;
  right: 0; }

#s1v4 {
  top: 38%;
  right: 0; }

#s1v5 {
  top: 70%; }

#s1v6 {
  top: 77%;
  right: 0; }

#s1v7 {
  top: 90%;
  left: 5%;
  text-align: center; }

#s2v1 {
  top: 10%; }

#s2v2 {
  top: 25%;
  right: 0; }

#s2v3 {
  top: 30%; }

#s2v4 {
  top: 47%; }

#s2v5 {
  top: 52%; }

#s2v6 {
  top: 70%; }

#s2v7 {
  top: 75%; }

#s2v8 {
  top: 85%; }

#s3v1 {
  top: 15%; }

#s3v2 {
  top: 20%;
  right: 0; }

#s3v3 {
  top: 25%; }

#s3v4 {
  top: 40%; }

#s3v5 {
  top: 45%; }

#s3v6 {
  top: 65%; }

#s3v7 {
  top: 70%; }

#s3v8 {
  top: 80%; }

#s3v9 {
  top: 85%; }

#s3v10 {
  top: 100%;
  left: 25%;
  text-align: center; }

#s4v1 {
  top: 15%; }

#s4v2 {
  top: 25%;
  right: 0;
  text-align: right; }

#s4v3 {
  top: 30%; }

#s4v4 {
  top: 50%;
  right: 0; }

#s4v5 {
  top: 55%; }

#s4v6 {
  top: 70%; }

#s4v7 {
  top: 85%;
  left: 20%;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.poem {
  color: #c8c8c8;
  font-family: Tangerine;
  font-size: 70px;
  z-index: 40;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 120px; }

.poem:hover {
  cursor: pointer; }

.words {
  height: 100%;
  z-index: 100; }

#stanza1 {
  top: -500vh; }

#stanza2 {
  top: 0vh; }

#stanza3 {
  top: 0vh; }

#stanza4 {
  top: 0vh; }

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999; }

#beginning {
  height: 100vh;
  background: black; }
  #beginning #title {
    color: #c8c8c8;
    font-size: 100px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    top: 35%; }
  #beginning hr {
    margin: 0 auto;
    margin-top: 10px;
    border: 0;
    border-top: 2px solid #c8c8c8;
    width: 50%; }
  #beginning #comet {
    width: 20%;
    top: 70%; }

#space {
  height: 500vh;
  background: -moz-linear-gradient(top, #000000 0%, #1a1a1a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000000), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(top, #000000 0%, #1a1a1a 100%);
  background: -o-linear-gradient(top, #000000 0%, #1a1a1a 100%);
  background: -ms-linear-gradient(top, #000000 0%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 ); }
  #space #starfield {
    background: url(../pics/space/star_field2.png);
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0; }
  #space .stars {
    width: 100%;
    z-index: 20; }
  #space #field {
    width: 120%;
    top: 350vh; }

#sky {
  height: 500vh;
  z-index: 20;
  top: 0vh;
  background: -moz-linear-gradient(top, #1a1a1a 0%, #002e57 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1a1a1a), color-stop(100%, #002e57));
  background: -webkit-linear-gradient(top, #1a1a1a 0%, #002e57 100%);
  background: -o-linear-gradient(top, #1a1a1a 0%, #002e57 100%);
  background: -ms-linear-gradient(top, #1a1a1a 0%, #002e57 100%);
  background: linear-gradient(to bottom, #1a1a1a 0%, #002e57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 ); }
  #sky #rain {
    background-image: url(../pics/sky/rain.png);
    height: 300vh;
    width: 100%;
    top: 100vh; }
  #sky #sun {
    z-index: 200px;
    top: 125vh; }
  #sky #clouds {
    width: 90%;
    top: 50vh; }
  #sky #night {
    background: black;
    height: 300vh;
    width: 100%;
    top: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  #sky #moon {
    width: 40%;
    top: 20%; }
  #sky #rainrain {
    width: 100%;
    height: 200vh;
    top: 150vh;
    z-index: 500; }
  #sky #raindrops {
    width: 100%;
    height: 100%; }

#lower_sky {
  height: 500vh;
  background: -moz-linear-gradient(top, #002e57 0%, #0088ff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #002e57), color-stop(100%, #0088ff));
  background: -webkit-linear-gradient(top, #002e57 0%, #0088ff 100%);
  background: -o-linear-gradient(top, #002e57 0%, #0088ff 100%);
  background: -ms-linear-gradient(top, #002e57 0%, #0088ff 100%);
  background: linear-gradient(to bottom, #002e57 0%, #0088ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 ); }
  #lower_sky #us {
    top: -5vh; }
  #lower_sky #you {
    height: 80vh; }
  #lower_sky #me {
    height: 80vh;
    right: 0%; }
  #lower_sky #flowers {
    top: 175vh; }

#lowest_sky {
  height: 600vh;
  background: -moz-linear-gradient(top, #0088ff 0%, #99cfff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0088ff), color-stop(100%, #99cfff));
  background: -webkit-linear-gradient(top, #0088ff 0%, #99cfff 100%);
  background: -o-linear-gradient(top, #0088ff 0%, #99cfff 100%);
  background: -ms-linear-gradient(top, #0088ff 0%, #99cfff 100%);
  background: linear-gradient(to bottom, #0088ff 0%, #99cfff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 ); }
  #lowest_sky hr {
    margin: 0 auto;
    border: 0;
    border-top: 2px solid #323232;
    width: 40%;
    position: relative;
    top: 95%; }
  #lowest_sky #heart1 {
    height: 90vh;
    top: 200vh; }
  #lowest_sky #heart2 {
    height: 90vh;
    top: 200vh; }

#ground {
  height: 100vh;
  background: -moz-linear-gradient(top, #99cfff 0%, #08E80B 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #99cfff), color-stop(100%, #08E80B));
  background: -webkit-linear-gradient(top, #99cfff 0%, #08E80B 100%);
  background: -o-linear-gradient(top, #99cfff 0%, #08E80B 100%);
  background: -ms-linear-gradient(top, #99cfff 0%, #08E80B 100%);
  background: linear-gradient(to bottom, #99cfff 0%, #08E80B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 ); }
  #ground #tombstone {
    height: 100%;
    width: 100%;
    text-align: center; }
  #ground #tm {
    width: 30%;
    bottom: 0;
    left: 40%; }
