//poem lines

//first stanza
#s1v1{top:10%;}
#s1v2{top:30%;right:0;}
#s1v3{top:34%;right:0;}
#s1v4{top:38%;right:0;}
#s1v5{top:70%;}
#s1v6{top:77%;right:0;}
#s1v7{top:90%;left:5%;text-align:center;}

//second stanza
#s2v1{top:10%;}
#s2v2{top:25%;right:0;}
#s2v3{top:30%;}
#s2v4{top:50%;}
#s2v5{top:55%;}
#s2v6{top:70%;}
#s2v7{top:75%;}
#s2v8{top:85%;}

//third stanza
#s3v1{top:15%;}
#s3v2{top:20%;}
#s3v3{top:25%;}
#s3v4{top:40%;}
#s3v5{top:45%;}
#s3v6{top:65%;}
#s3v7{top:70%;}
#s3v8{top:85%;}
#s3v9{top:90%;}
#s3v10{top:95%;}

//fourth stanza
#s4v1{top:15%;}
#s4v2{top:25%;}
#s4v3{top:30%;}
#s4v4{top:50%;}
#s4v5{top:55%;}
#s4v6{top:70%;}
#s4v7{top:85%;}