//scss

//import
@import 'lyrics';
@import 'poem';

//mixins
@mixin gradient($color1,$color2){
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
	background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
	background: -o-linear-gradient(top, $color1 0%, $color2 100%);
	background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
	background: linear-gradient(to bottom, $color1 0%, $color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 );
}

//counter
// #info {
//   position: fixed;
//   top: 20px;
//   left: 20px;
//   background-color: rgba(0,0,0,0.5);
//   color: #fff;
//   padding: 20px;
//   z-index: 9999;
// }

//heading
#beginning{
	height:100vh;
	background: black;

	//title
	#title{
		color: rgb(200,200,200);
		font-size: 100px;
		font-family: "Open Sans", sans-serif;
		text-align: center;
		top: 35%;
	}

	hr{
		margin: 0 auto;
		margin-top: 10px;
		border:0;
		border-top:2px solid rgb(200,200,200);
		width: 50%;
	}
	
	#comet{
		width:20%;top:70%
	}
}

//first section
#space{
	height:500vh;
	@include gradient(#000000, #1a1a1a);

	//star field
	#starfield{
		background:url(../pics/space/star_field2.png);
		background-repeat: repeat-y;
		width:100%;
		height: 100%;
		z-index: 5;
		top: 0;
		left: 0;
	}

	//stars
	.stars{
		width:100%;
		z-index: 20;
	}

	#field{
		width:120%;top:350vh;
	}
}

//second section
#sky{
	height:500vh;
	z-index:20;
	top:0vh;
	@include gradient(#1a1a1a, #002e57);

	#rain{
		background-image:url(../pics/sky/rain.png);
		height:300vh;
		width:100%;
		top:100vh;
	}
	#sun{z-index:200px;top:125vh;}

	#clouds{width:90%;top:50vh;}

	#night{
		background:black;
		height:300vh;
		width:100%;
		top:100vh;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	#moon{width:40%;top:20%;}

	#rainrain{width:100%;height:200vh;top:150vh;z-index:500;}
	#raindrops{width:100%;height:100%;}
}

//third section
#lower_sky{
	height:500vh;
	@include gradient(#002e57, #0088ff);

	#us{top:-5vh;}
	#you{height:80vh;}
	#me{height:80vh;right:0%;}

	#flowers{top:175vh;}
}

//fourth section
#lowest_sky{
	height:600vh;
	@include gradient(#0088ff, #99cfff);

	hr{
		margin: 0 auto;
		border:0;
		border-top:2px solid rgb(50,50,50);
		width: 40%;
		position:relative;
		top:95%;
	}

	#heart1{height:90vh;top:200vh;}
	#heart2{height:90vh;top:200vh;}

	#angel1{height:50vh;top:350vh;}
	#angel2{height:50vh;top:350vh;right:0;}

	#rose{height:40vh;top:400vh;left:45%;z-index:500;}
}

//final section
#ground{
	height:100vh;
	@include gradient(#99cfff, #08E80B);

	#tombstone{height:100%;width:100%;text-align:center;}
	#tm{width:30%;bottom:0;left:40%;}
}