//scss

//import
@import 'lyrics';

//mixins
@mixin gradient($color1,$color2){
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
	background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
	background: -o-linear-gradient(top, $color1 0%, $color2 100%);
	background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
	background: linear-gradient(to bottom, $color1 0%, $color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 );
}

*{margin:0;padding:0;}

//positions
.abs{position: absolute;}
.rel{position: relative;}

#info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  z-index: 9999;
}

//class for poem style
.poem{
	color: rgb(200,200,200);
	font-family:Tangerine,sans-serif;
	// font-size:100px;
	z-index: 40;
	background:rgba(0,0,0,.7);
	padding:15px 40px;
	// border:1px solid white;
	width:80%;
}
.poem:hover{cursor:pointer;}



//class for poem verse container
.words{
	height:100%;
	z-index:100;
}

//heading
#beginning{
	height:100vh;
	background: black;

	//title
	#title{
		color: rgb(200,200,200);
		font-size: 100px;
		font-family: "Open Sans", sans-serif;
		text-align: center;
		top: 35%;
	}
	hr{
		margin: 0 auto;
		margin-top: 10px;
		border:0;
		border-top:2px solid rgb(200,200,200);
		width: 50%;
	}
}

#space{
	height:500vh;
	@include gradient(#000000, #1a1a1a);

	//star field
	#starfield{
		background:url(../pics/space/star_field2.png);
		background-repeat: repeat-y;
		width:100%;
		height: 100%;
		z-index: 5;
		top: 0;
		left: 0;
	}

	//stars
	.stars{
		width:100%;
		z-index: 20;
	}
}

#sky{
	height:500vh;
	z-index:20;
	@include gradient(#1a1a1a, #002e57);

	#rain{
		background-image:url(../pics/sky/rain.png);
		height:300vh;
		width:100%;
		top:250vh;
	}
}

#lower_sky{
	height:500vh;
	@include gradient(#002e57, #0088ff);
}

#lowest_sky{
	height:600vh;
	@include gradient(#0088ff, #99cfff);

	hr{
		margin: 0 auto;
		border:0;
		border-top:2px solid rgb(50,50,50);
		width: 40%;
		position:relative;
		top:95%;
	}
}

#ground{
	height:100vh;
	@include gradient(#99cfff, #08E80B);
}